@import "variables.less";

html, body {
    font-family: @font-family;
    height: auto;
    word-wrap: break-word;
    width: 100%;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: @base-font-size;
    line-height: @base-line-height;
    /*letter-spacing: 2.25px;*/
    //overflow-y: auto;
}

body.modal-open {
    overflow: hidden;
    padding-right: 15px; /* Prevents "jumping" when the scrollbar disappears */
}

main {
    width: 100%;
    height: auto;

    &.main-layout {
        min-height: calc(100lvh - 100px);
        padding-top: 100px;
    }
}



/* ==========================================================================
   Page Header & Container
   ========================================================================== */

header.page-header {
    
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding-top: 1rem;
    margin: 1rem auto 1rem auto;
    width: @max-width;
    max-width: calc(100% - 20px);
    

    & h1 {
        width: auto;
        font-weight: 500;
         font-size: clamp(0.9rem, 3vw + 1rem, 1.2rem);
        line-height: clamp(1.1rem, 3vw + 1rem, 1.4rem);
    }

    &__has-borders{
        border-bottom: 1px solid var(--border-color);
            padding-bottom: 1rem;

    }

}


.container {
    margin: 0 auto;
    position: relative;
    width: @max-width;
    height: auto;
    max-width: calc(100% - 20px);
    padding: 1rem 0;

    &.min{
        width: @min-width;
    }

      &__header {
        text-transform: capitalize;
        text-align:center;
        padding: 1.5rem 0;
        line-height: 1;
        font-weight: 500;
         font-size: clamp(1.2rem, 3vw + 1rem, 1.4rem);
        line-height: clamp(1.4rem, 3vw + 1rem, 1.6rem);
    }

    
  &__footer{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content:center;
    align-items:center;

  }

  &__text{
    padding: 0 1.5rem;
  }
  
    
    &__divider {
        flex-grow: 1;
        height: 0;
        //background-color: @link-color;
        //background-color: var(--border-color);
        border: 1px dashed var(--border-color);
    }


}


/* ==========================================================================
   Loading Gif
   ========================================================================== */

// Block: loader
.loader {
    width: 100%;
    height: auto;
    min-height: calc(100lvh - 100px);
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 2rem;

  // Element: the dot graphic
  &__dot {
       width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: yellow;
    box-shadow: 18px 0 green, -18px 0 red;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }

}

.loaded {
    width: 12px;
    height: 12px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: yellow;
    box-shadow: 18px 0 green, -18px 0 red; // or 24px
    position: relative;
}

.end-of-file {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    font-size: 0.9rem;
}

@keyframes flash {
    0% {
        background-color: yellow;
        box-shadow: 18px 0 green, -18px 0 red;
    }

    50% {
        background-color: green;
        box-shadow: 18px 0 red, -18px 0 yellow;
    }

    100% {
        background-color: red;
        box-shadow: 18px 0 green, -18px 0 yellow;
    }
}
























h3.modal-page-heading {
                border-top: 1px solid var(--border-color);
                border-bottom: 1px solid var(--border-color);
                margin: 0.5rem 0;
                padding: 0.5rem 0;
                text-transform: uppercase;
                font-weight: 600;
            }            

.at {

    &:before {
        font-weight: normal;
        color: var(--text-color);
        content: "\0040";
    }
}

.error {
    font-style: italic;
}

span.divider {
    margin: 0 8px;
    font-weight: 600;

    &:before {
        font-weight: normal;
        color: var(--text-color);
        content: "|";
    }
}

.progress-container {
    display: flex;
    justify-content: center;
}

.progress-bar {
    width: 100.8px;
    height: 16.8px;
    background: linear-gradient(#FE0000 0 0) left/0% 100% no-repeat #F1F1F1;
    animation: progress-jgv380 2s infinite linear;
}

@keyframes progress-jgv380 {
    100% {
        background-size: 100% 100%;
    }
}

#quick-info {
    position: fixed;
    width: auto;
    margin: 0 auto;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5000;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    border: 2px solid var(--background-color);
    color: @white-color;
    padding: 8px 16px;

    &.danger {
        background-color: @danger-color;
    }

    &.warning {
        background-color: @warning-color;
    }

    &.success {
        background-color: @success-color;
    }

    &:before {
        content: ">";
        margin-right: 10px;
        color: @white-color;
        font-size: 14px;
    }
}

.double-links {
    width: 100%;
    display: flex;
    column-gap: 20px;
}

svg {

    & .linkedin {
        fill: var(--contrast-color);
    }

    &.twitter, &.facebook {

        & .black {
            fill: var(--contrast-color);
        }

        & .white {
            fill: var(--background-color);
        }
    }

    &.stroked {

        & path, & circle, & rect, & line, & polyline, & polygon {
            fill: none;
            stroke: var(--text-color);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
        }
    }

    &.filled {
        & path, & circle, & rect, & line, & polyline, & polygon {
            fill: var(--text-color);
            stroke-width: 2px;
        }
    }
}

span.divider {
    margin: 0 5px;
    color: var(--border-color);
    position: relative;

    &:before {
        content: "|";
        position: absolute;
    }
}

.no-image {
    width: 250px;
    height: 250px;
    background-color: #FAFAFA;
    position: relative;

    &.small {
        border-radius: 8px;
    }

    &.large {
        border-radius: 8px;
    }

    & span{
        position: absolute;
        bottom: 10px;
        text-align:center;
        text-transform: uppercase;
        font-size: smaller;
    }

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;

        & stroke,
        & circle {
            color: var(--text-color);
        }
    }
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: var(--cell-color);
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}


#scroll-sentinel {
    height: 1px;
}

.end-of-file {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    color: red;
    font-size: 0.9rem;

    & .error-container {
        display: flex;
        align-items: center;
        gap: 12px;
        color: red;
        font-size: 0.9rem;

        & p {
            margin-bottom: 10px;
        }
    }
}
