@import "variables.less";

/* Hide the accessibility toggle checkbox */
.dashboard__toggle {
  display: none;
}

/* ==========================================================================
   Block 1: Left-hand Fixed Navigation Sidebar
   ========================================================================== */
.nav-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  padding: 2rem 0;
  max-width: 100%;
  height: 100lvh;
  background-color: @link-color;
  color: @white-color;
  display: flex;
  flex-direction: column;
  z-index: 1;
    
    &__menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: calc(100lvh - 4rem);
    overflow-y:auto;
    }

    &__item {
    border-bottom: 1px solid #4D84F1; /* Subtle color delimitation */
    }

    
    &__link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 20px;
    color: @white-color;
    }

    /* Hover and Active Modifiers */
    &__link:hover,
    &__link--active {
    background-color: @link-alt-color;
    }

}
